@import url('https://fonts.googleapis.com/css2?family=Kotta+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kosugi&display=swap');

a:hover{
  	-webkit-transition: all 0.3s linear 0s;
	text-decoration: none;
	opacity: 0.8;
}

._nav{
	/* height: 100px; */
	background-color: #373e52;
	width: 100%;
	float: none;
	position: fixed;
	z-index: 1;
}

._main_title{
	white-space: nowrap;
 	font-family: 'Kotta One', serif;
	color: #e3e8fa;
}

._user_info{
	white-space: nowrap;
	color: #ffffff;
}





