@import url('https://fonts.googleapis.com/css2?family=Kotta+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kosugi&display=swap');

a:hover{
	-webkit-transition: all 0.3s linear 0s;
	text-decoration: none;
	opacity: 0.8;
}

body{
	/* display: flex;
	flex-direction: column;
	min-height: 100vh; */
}

#wrap{
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

._zindex_1{
	z-index: 1;
}

header{

}

._nav{
	/* .btn-outline-secondary に合わせた配色？ */
	background-color: #373e52;
	float: none;
	/* position: relative; */
	/* z-index: 5; */
}

._main_title{
	white-space: nowrap;
 	font-family: 'Kotta One', serif;
	color: #e3e8fa;
}

._user_info{
	white-space: nowrap;
	color: #ffffff;
}

main{
	flex: 1;
}

footer{

}

._footer{
	color: #e3e8fa; 
	background-color: #373e52;
	/* margin-top: auto; */
	/* margin-bottom: 0; */
	/* padding: 0; */
}

#js-show-popup{
	min-height: 50vh;
}

#row_01{
	margin: 15vh;
}

#row_01-02{
	min-height: 30vh;
}

.word{
	margin-top: 8vh;
}

#history{
	min-height: 37vh;
	margin-bottom: 3vh;
}

#js-show-popup1{
	min-height: 10vh;
}