@import url('https://fonts.googleapis.com/css2?family=Kotta+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kosugi&display=swap');

a:hover{
  	-webkit-transition: all 0.3s linear 0s;
	text-decoration: none;
	opacity: 0.8;
}

._zindex_1{
	z-index: 1;
}

._nav{
	background-color: #373e52;
	float: none;
	position: relative;
	z-index: 5;
}

._main_title{
	white-space: nowrap;
 	font-family: 'Kotta One', serif;
	color: #e3e8fa;
}

._user_info{
	white-space: nowrap;
	color: #ffffff;
}

body{
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

#footer1{
	text-align: center; 
	color: #e3e8fa; 
	/* position: absolute;
	bottom: 0;  */
	background-color: #373e52
}

#footer2{
	text-align: center; 
	font-size: 15px
}

footer{
	margin-top: auto;
	padding: 0;
}








