@import url('https://fonts.googleapis.com/css2?family=Kotta+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kosugi&display=swap');

html, body {
	font-family: 'Kosugi', sans-serif;
}

.history{
	background-color: #373e52;
}

.file{
  padding: 0 0 0 230px;
}

.day{
  padding: 0 0 0 60px;
}



.back{
  padding: 0 0 0 440px;
}