@import url('https://fonts.googleapis.com/css2?family=Kotta+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kosugi&display=swap');


/* 録画 */
._panel_record{
	background-color: #373e52;
	border-radius: 20px;
	cursor:pointer;
}

/* 履歴 */
._panel_history{
	background-color: #373e52;
	border-radius: 20px;
}

/* 設定 */
._panel_setting{
	background-color: #373e52;
	border-radius: 20px;
}

/* ログアウト */
._panel_logout{
	background-color: #373e52;
	border-radius: 20px;
	cursor:pointer;
}


._main_text ,._sub_text ,._main_logo{
	color: #e3e8fa;
}

._main_text ,._sub_text{
	font-family: 'Kosugi', sans-serif;
}


._panel_record ._main_logo{
	font-size: 6rem;
}

._panel_history ._main_logo{
	font-size: 4.5rem;
}

._panel_setting ._main_logo{
	font-size: 3rem;
}

._panel_logout ._main_logo{
	font-size: 3rem;
}


._panel_record ._main_text{
	font-size: 4rem;
}

._panel_history ._main_text{
	font-size: 3rem;
}

._panel_setting ._main_text{
	font-size: 1.5rem;
}

._panel_logout ._main_text{
	font-size: 1.5rem;
}


._panel_record ._sub_text{
	font-size: 1rem;
}

._panel_history ._sub_text{
	font-size: 1rem;
}

._panel_setting ._sub_text{
	font-size: 1rem;
}

._panel_logout ._sub_text{
	font-size: 1rem;
}


._panel_record:hover{
	-webkit-transition: all 0.3s linear 0s;
	opacity: 0.8;
}

._panel_history:hover{
	-webkit-transition: all 0.3s linear 0s;
	opacity: 0.8;
}

._panel_setting:hover{
	-webkit-transition: all 0.3s linear 0s;
	opacity: 0.8;
}

._panel_logout:hover{
	-webkit-transition: all 0.3s linear 0s;
	opacity: 0.8;
}
