@import url('https://fonts.googleapis.com/css2?family=Kotta+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kosugi&display=swap');

/* 設定 */
.main_item{
	background-color: #373e52;
	border-radius: 20px;
	height: 160px;
	margin: 0 0 0 14px;
	width: 320px;
}

/* ログアウト */
.main_item_logout{
	background-color: #373e52;
	border-radius: 20px;
	height: 160px;
	margin: 0 0 0 20px;
	width: 320px;
}

/* 履歴 */
.main_item_history{
	background-color: #373e52;
	border-radius: 20px;
	height: 300px;
	/* width: 550px; */
}

/* 録画 */
.main_item_record{
	background-color: #373e52;
	border-radius: 20px;
	height: 500px;
	/* margin: 10px 0 0 55px; */
}

.main_item .main_text{/*
	display: none;*/
	font-family: 'Kosugi', sans-serif;
	color: #e3e8fa;
	font-size: 1rem;
}

.main_item_logout .main_text{/*
	display: none;*/
	font-family: 'Kosugi', sans-serif;
	color: #e3e8fa;
	font-size: 1rem;
}

.main_item_history .main_text{/*
	display: none;*/
	font-family: 'Kosugi', sans-serif;
	color: #e3e8fa;
	font-size: 1.5rem;
}

.main_item_record .main_text{/*
	display: none;*/
	font-family: 'Kosugi', sans-serif;
	color: #e3e8fa;
	font-size: 2rem;
}
.main_item .sub_text{/*
	display: none;*/
	font-family: 'Kosugi', sans-serif;
	color: #e3e8fa;
	font-size: 1rem;
}

.main_item_logout .sub_text{/*
	display: none;*/
	font-family: 'Kosugi', sans-serif;
	color: #e3e8fa;
	font-size: 1rem;
}

.main_item_history .sub_text{/*
	display: none;*/
	font-family: 'Kosugi', sans-serif;
	color: #e3e8fa;
	font-size: 1.5rem;
}

.main_item_record .sub_text{/*
	display: none;*/
	font-family: 'Kosugi', sans-serif;
	color: #e3e8fa;
	font-size: 2rem;
}

.main_item .main_logo{
	color: #e3e8fa;
	font-size: 3rem;
}

.main_item_logout .main_logo{
	color: #e3e8fa;
	font-size: 3rem;
}

.main_item_history .main_logo{
	color: #e3e8fa;
	font-size: 4.5rem;
}

.main_item_record .main_logo{
	color: #e3e8fa;
	font-size: 7rem;
}

.main_item:hover{
  	-webkit-transition: all 0.3s linear 0s;
  	opacity: 0.8;
}

.main_item_logout:hover{
	-webkit-transition: all 0.3s linear 0s;
	opacity: 0.8;
}

.main_item_record:hover{
	-webkit-transition: all 0.3s linear 0s;
	opacity: 0.8;
}

.main_item:hover .main_text{
}

.main_item:hover .sub_text{
}

.main_item:hover .main_logo{
	/*display: none;
	float: none;
	position: fixed;
	opacity: 0.5;*/
}
