#back{
  position: absolute;
  right: 90%;
}

#videoPreview {
  transform: scaleX(-1);
 }

#cus_voice{
 color: black;
 font-size: 20px;
}

#button{
 position: absolute;
 top: 85%;
 left: 25%;
 z-index: 1;
}

#card_box{
 width: 100%;
 height:11rem;
}

#parent{
  position: relative;
  height: 234px;
  width :416px;
}

#before_kakou{
  position: absolute;
  border:1px;
  height: 100%;
  width: 100%;
  z-index: 2;
}

#kakou {
  position: absolute;
  left: 0;
  right: 0;
  height: 100%;
  width: 90%;
  margin: auto;
  transform: scaleX(-1);
  z-index: 3;
 }

#canvas{
 transform: scaleX(-1);
 }