#back{
  position: absolute;
  right: 90%;
}

#videoPreview {
  transform: scaleX(-1);
 }

#cus_voice{
 color: black;
 font-size: 20px;
}

#button{
 position: absolute;
 top: 85%;
 left: 25%;
 z-index: 1;
}

#card_box{
 width: 100%;
 height:11rem;
}

#img_out{
 width: 100%;
 height: 100%;
}

#kakou {
 transform: scaleX(-1);
 max-width: 75%;
 height: auto;
 width :auto;
 }

#canvas{
 transform: scaleX(-1);
 }