@import url('https://fonts.googleapis.com/css2?family=Kotta+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kosugi&display=swap');

/* font */
._unit{
  color: #373e52;
  font-family: Arial;
  }

/* skin */
._unit{
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0px 1px 10px #373e52;
  -moz-box-shadow: 0px 1px 10px #373e52;
  box-shadow: 0px 1px 10px #373e52;
  border: solid #373e52 1px;
  background: #fafafa;
  }

._unit_title{
  padding-bottom: 6px;
  border-bottom: 2px solid #373e52;
  margin-bottom: 20px;
  }