{% extends "layout.html" %}

{% block content %}

<div class="row mt-5">
    <div class="col text-center">

        <div class="h4">{{ row_session[0] }}</div>
        <div class="h3">{{ row_session[1] }}</div>
        <div class="h3">{{ row_session[2] }}</div>

        <br><br>

        <div class="h3">{{ row_result[1] }} ~ {{ row_result[2] }}</div>

        <br>

        {% for log in log_list %}
    
        <div class="h3">{{ log['time'] }}</div>
        {% if log['type'] == 'text' %}
        <div class="h4">話速: {{ log['score'] }}</div>
        <div class="h4">{{ log['content'] }}</div>
        {% else %}
        <div class="h4">{{ log['score'] }}</div>
        <img src="../static/{{ log['content'] }}">
        {% endif %}
    
        {% endfor %}

        {% for row_image in rows_image %}
        <div class="h3">{{ row_image[0] }}</div>
        {% endfor %}

    </div>
</div>

{% endblock %}