{% extends "layout.html" %}

{% block header %}
<link rel="stylesheet" href="static/css/modal.css">
<link rel="stylesheet" href="static/css/index.css">
<!-- <link rel="stylesheet" href="static/css/main.css"> -->
{% endblock %}

{% block content %}
<div class="row p-3 mt-5 mb-2 mx-3 pt-5" id="row_01">
		<div class="col-md-6 col-sm-12 mb-4" id="row_01-01">
				<div id="js-show-popup" class="px-1 py-5 text-center _panel_record">
						<i class="fas fa-microphone mt-4 mb-4 mr-2 _main_logo"></i>
						<i class="fas fa-video mt-4 mb-4 _main_logo"></i>
						<div class="mt-2 mb-4 _main_text">
								面接診断
						</div>
						<div class="mb-3 _sub_text ">
								面接中の話速と姿勢を診断します
						</div>
				</div>
		</div>
		<!-- row_01の2番目の要素（row_01-02）をflexコンテナにし（d-flex）、子要素を縦に配置する（flex-colmn）-->
		<div class="col-md-6 col-sm-12 d-flex flex-column mb-4" id="row_01-02">
				<div class="row" id="dflex_01(row_01-02)-01">
					<div class="col-12 mb-4">
						<a href="/archive">
								<div class="px-1 py-3 text-center _panel_history">
										<i class="fa fa-book mt-3 mb-3 _main_logo "></i>
										<div class="mb-2 _main_text">
												履歴
										</div>
										<div class="mb-2 _sub_text">
												過去の解析結果を確認します
										</div>
								</div>
						</a>
					</div>
				</div>
				<div class="row" id="dflex_01(row_01-02)-02">
						<div class="col-sm-6 mb-4" id="row_02(dflex_01-02)-01">
								<a href="/settings">
										<div class="px-1 py-3 text-center _panel_setting">
												<i class="fas fa-cog _main_logo mt-2 mb-2 pt-1"></i>
												<div class="_main_text">
														設定
												</div>
												<!-- <div class="sub_text">
														アカウント情報を確認します
												</div> -->
										</div>
								</a>
						</div>
						<div class="col-sm-6 mb-4 text-center" id="row_02(dflex_01-02)-02">
								<div id="js-show-popup1" class="px-1 py-3 _panel_logout">
										<i class="fas fa-door-open _main_logo mt-2 mb-2 pt-1"></i>
										<div class="_main_text">
												ログアウト
										</div>
										<!-- <div class="_sub_text">
												ログイン画面に戻ります
										</div> -->
								</div>
						</div>
				</div>
		</div>
</div>



<!-- modal-録画   -->
<div class="popup" id="js-popup">
		<div class="popup-inner">
				<div class="modal-body">
						<div id="form">
								<div class="h2" style="text-align: center; border-bottom: solid; border-width: 1px;" >
										<p class="form-title"><strong>会社情報を入力</strong></p>
								</div>
						</div>
						<div class="row pt-3">
								<div class="col">
										<form action="/main" class="mx-auto" method="POST">
												<p class="h5">会社名</p>
												<p class="">
														<input class="form-control" name="company_name" type="text">
												</p>
												<p class="pt-3 h5">選考段階</p>
												<p class="">
														<input class="form-control" name="company_stage" type="text">
												</p>
												<div class="row">
														<div class="col-3 mx-auto text-center pt-4">
																<input type="submit" class="btn btn-outline-secondary" value="決定">
														</div>
												</div>
										</form>
								</div>
						</div>
				</div>
		</div>
		<div class="black-background" id="js-black-bg"></div>
</div>

<!-- modal-ログアウト   -->

<div class="popup1" id="js-popup1">
		<div class="popup-inner1">
	
								<div class="modal-body1">
									<div id="form">
										<div class="h2" style="text-align: center; border-bottom: solid; border-width: 1px;" >
									<div class="h2" style="text-align: center;"><p class="form-title">ログアウトしますか？</p></div>
										</div>
								</div>
								<div class="row pt-3">
									<div class="offset-2 col-3">
															<div class="text-center">
																	<a class="btn btn-outline-secondary" href="/login">はい</a>
															</div>
									</div>
									<div class="offset-2 col-3">
													<div class="close-btn1" id="js-close-btn1">
															<div class="text-center">
																	<button class="btn btn-outline-secondary">いいえ</button>
															</div>
													</div>
									</div>
									</div>
							</div>
	
		</div>
		<div class="black-background1" id="js-black-bg1"></div>
	</div>
{% endblock %}

{% block script %}
<script>
		function popupImage() {
				var popup = document.getElementById('js-popup');
				if (!popup) return;
				var blackBg = document.getElementById('js-black-bg');
				var closeBtn = document.getElementById('js-close-btn');
				var showBtn = document.getElementById('js-show-popup');
				closePopUp(blackBg);
				closePopUp(closeBtn);
				closePopUp(showBtn);
				function closePopUp(elem) {
						if (!elem) return;
						elem.addEventListener('click', function () {
								popup.classList.toggle('is-show');
						});
				}
		}
		popupImage();

		function popupImage1() {
	var popup1 = document.getElementById('js-popup1');
	if(!popup1) return;

	var blackBg = document.getElementById('js-black-bg1');
	var closeBtn = document.getElementById('js-close-btn1');
	var showBtn = document.getElementById('js-show-popup1');

	closePopUp(blackBg);
	closePopUp(closeBtn);
	closePopUp(showBtn);
	function closePopUp(elem) {
		if(!elem) return;
		elem.addEventListener('click', function() {
			popup1.classList.toggle('is-show1');
		});
	}
}
popupImage1();
</script>
{% endblock %}