{% extends "layout.html" %}

{% block header %}
<link rel="stylesheet" href="static/css/top.css">
<link rel="stylesheet" href="static/css/modal.css">
<link rel="stylesheet" href="static/css/index_p2.css">
<link rel="stylesheet" href="static/css/main.css">
{% endblock %}

{% block content %}
<div class="row p-3 m-5">
    <div id="js-show-popup" class="p-2 col-5 text-center main_item_record">
        <i class="fas fa-video main_logo my-2 mt-5"></i>
        <div class="main_text my-2 mt-5">
            録画
        </div>
        <div class="mt-4 sub_text my-2 mt-5">
            Web面接の様子を撮影します
        </div>
    </div>

    <div class="d-flex flex-column w-50">

    <a class="p-2 col text-center main_item_history col" href="/archive">
        <i class="fa fa-book main_logo my-2 mt-4"></i>
        <div class="main_text my-2 mt-4">
            履歴
        </div>
        <div class="mt-4 sub_text my-2">
            過去の解析結果を確認します
        </div>
    </a>

<div class="d-flex flex-row bd-highlight">

<div class="row p-2">
    <a class="p-2 offset-2 col text-center main_item" href="/settings">
        <i class="fas fa-cog main_logo my-2"></i>
        <div class="main_text my-2">
            設定
        </div>
        <div class="mt-4 sub_text my-2">
            アカウント情報を確認します
        </div>
    </a>
    
    <!-- <div id="open" class="p-2 offset-2 col-3 text-center main_item">
        <i class="fas fa-door-open main_logo"></i>
        <div class="main_text my-2">
            ログアウト
        </div>
        <div class="mt-4 sub_text my-2">
            ログイン画面に戻ります
        </div>
    </div> -->
   
    <a class="p-2 col text-center main_item_logout" href="/logout">
        <i class="fas fa-door-open main_logo my-2"></i>
        <div class="main_text my-2">
            ログアウト
        </div>
        <div class="mt-4 sub_text my-2">
            ログイン画面に戻ります
        </div>
    </a>
</div>
</div>
</div>
</div>
<!-- modal-録画   -->
<div class="popup" id="js-popup">
    <div class="popup-inner">
        <div class="modal-body">
            <div id="form">
                <div class="h2" style="text-align: center; border-bottom: solid; border-width: 1px;" >
                    <p class="form-title"><strong>会社情報を入力</strong></p>
                </div>
            </div>
            <div class="row pt-3">
                <div class="col">
                    <form action="/main" class="mx-auto" method="POST">
                        <p class="h5">会社名</p>
                        <p class="">
                            <input class="form-control" name="company_name" type="text">
                        </p>
                        <p class="pt-3 h5">選考段階</p>
                        <p class="">
                            <input class="form-control" name="company_stage" type="text">
                        </p>
                        <div class="row">
                            <div class="col-3 mx-auto text-center pt-4">
                                <input type="submit" class="btn btn-outline-secondary" value="決定">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="black-background" id="js-black-bg"></div>
</div>

<!-- modal-ログアウト   -->

<!-- <div id="mask" class="hidden"></div>
<section id="modal" class="hidden">
  <div class="row h2 text-center">
      <div class="col my-2" style="border-bottom: solid;">ログアウトしますか</div>
  </div>
  <div class="row h2 text-center my-2">
      <div class="offset-2 col-3">
          <a class="btn btn-outline-secondary" href="/logout">はい</a>
      </div>
      <div class="offset-2 col-3">
          <a class="btn btn-outline-secondary" id="close">いいえ</a>
      </div>
  </div>
</section> -->
{% endblock %}

{% block script %}
<script>
    function popupImage() {
        var popup = document.getElementById('js-popup');
        if (!popup) return;
        var blackBg = document.getElementById('js-black-bg');
        var closeBtn = document.getElementById('js-close-btn');
        var showBtn = document.getElementById('js-show-popup');
        closePopUp(blackBg);
        closePopUp(closeBtn);
        closePopUp(showBtn);
        function closePopUp(elem) {
            if (!elem) return;
            elem.addEventListener('click', function () {
                popup.classList.toggle('is-show');
            });
        }
    }
    popupImage();

    // 'use strict';
    // {
    //     const open = document.getElementById('open');
    //     const close = document.getElementById('close');
    //     const modal = document.getElementById('modal');
    //     const mask = document.getElementById('mask');
    //     open.addEventListener('click', function () {
    //         modal.classList.remove('hidden');
    //         mask.classList.remove('hidden');
    //     });
    //     close.addEventListener('click', function () {
    //         modal.classList.add('hidden');
    //         mask.classList.add('hidden');
    //     });
    //     mask.addEventListener('click', function () {
    //         modal.classList.add('hidden');
    //         mask.classList.add('hidden');
    //     });
    // }
</script>
{% endblock %}