{% extends "layout.html" %}

{% block content %}

<div class="row p-3 m-5">
    <a class="p-2 offset-2 col-3 text-center main_item" href="/main">
        <i class="fas fa-video main_logo my-2"></i>
        <div class="main_text my-2">
            録画
        </div>
        <div class="mt-4 sub_text my-2">
            Web面接の様子を撮影します
        </div>
    </a>
    <a class="p-2 offset-2 col-3 text-center main_item" href="/archive">
        <i class="fa fa-book main_logo my-2"></i>
        <div class="main_text my-2">
            履歴
        </div>
        <div class="mt-4 sub_text my-2">
            過去の解析結果を確認します
        </div>
    </a>
</div>

<div class="m-5 row p-2">
    <a class="p-2 offset-2 col-3 text-center main_item" href="/settings">
        <i class="fas fa-cog main_logo my-2"></i>
        <div class="main_text my-2">
            設定
        </div>
        <div class="mt-4 sub_text my-2">
            アカウント情報を確認します
        </div>
    </a>
    <a class="p-2 offset-2 col-3 text-center main_item" href="/logout">
        <i class="fas fa-door-open main_logo"></i>
        <div class="main_text my-2">
            ログアウト
        </div>
        <div class="mt-4 sub_text my-2">
            ログイン画面に戻ります
        </div>
    </a>

</div>

{% endblock %}