<!doctype html>
<html lang="jp">
    <head>
        <title>{{ title }}</title>
        <meta charset="UTF-8">

        <link rel="icon" type="image/x-icon" href="static/asets/horus.jpg">
        <link rel="stylesheet" href="static/css/bootstrap.css">
        <link rel="stylesheet" href="static/css/common.css">
        <link rel="stylesheet" href="static/css/login.css">
        <link rel="stylesheet" href="static/css/top.css">
        <link rel="stylesheet" href="static/css/all.css">
        <link rel="stylesheet" href="static/css/particles.css">
        <link href="https://fonts.googleapis.com/css?family=Sawarabi+Gothic" rel="stylesheet">
        <link href="https://fonts.googleapis.com/earlyaccess/nicomoji.css" rel="stylesheet">

        <script src="https://code.jquery.com/jquery-3.0.0.min.js"></script>

        <!-- <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script> -->

        {% block header %}
        <!-- ここにヘッダーが入る。 -->
        {% endblock %}
    </head>
    <body>
        <div id="particles-js"></div>

        <div class="container-fluid">
        
            <div class="p-3 row nav">
                <div class="col-1">
                    <img src="static/asets/horus.jpg" width="70px" height="auto">
                </div>
                <div class="col-4 h1 my-2 main_title">
                    The Eyes of Horus
                </div>
                {% if current_user.is_active %}
                    <div class="col text-light h3 mt-3 ml-5">
                        ようこそ <span class="text-white">{{ current_user.name }}</span> !
                    </div>
                {% endif %}
            </div>

            <br><br><br><br><br><br><br><br>

            {% block content %}
            <!-- ここにメインコンテンツが入る。 -->
            {% endblock %}

        </div>

        <script src="static/js/particles.js"></script>
        <script src="static/js/set_bubble.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bubbly-bg@1.0.0/dist/bubbly-bg.js"></script>

    </body>
    {% block script %}
    <!-- ここにスクリプトが入る。 -->
    {% endblock %}
    <footer>
    <!-- ここにフッター -->
    </footer>
</html>