{% extends "layout.html" %}

{% block header %}

{% endblock %}

{% block content %}
<div class="row mt-5">
<div class="col text-center">
<!-- セッション日時 -->
<div class="h4">{{ session_timestamp }}</div>
<!-- 企業名 -->
<div class="h3">{{ company_name }}</div>
<!-- 選考段階 -->
<div class="h3">{{ company_stage }}</div>
<div id="videoPreview"></div>
<button class="btn btn-success" onclick="start()">スタート</button>
<button class="btn btn-danger" onclick="stop()">ストップ</button>
<section>
    <!-- 表示される文章 -->
    <div class="my-3 h3" id="cus_voice">こちらに話した言葉が表示されます。</div>
</section>
<section>
    <div id="sisei"></div>
    <img id="kakou">
    <canvas id="canvas" width="768" height="432" style="display: none;"></canvas>
</section>
<section>
    <div id="log" class="mt-5"></div>
</section>
<form action="/save" method="POST">
    <input id="result" type="text" name="result" value="" hidden>
    <input id="sentence" type="text" name="sentence" value="" hidden>
    <input id="image" type="text" name="image" value="" hidden>
    <input id="save" class="btn btn-primary mx-auto" type="submit" style="display: none;" value="SAVE">
</form>
<a class="btn btn-outline-secondary my-4" href="/">戻る</a>
</div>
</div>
{% endblock %}

{% block script %}
<script>

    var start_time;
    var end_time;

    function start(){
        start_time = new Date().toLocaleString();
        wasoku_start();
        video_start();
    }

    function stop(){
        end_time = new Date().toLocaleString();
        wasoku_stop();
        video_stop();
        print_log();
        set_form('{{ session_id }}');
    }


//-------------ログ-------------------------------------------    
    var log_list = [];

    function set_log(time, type,  score, content){
        log_list.push({time: time,type: type, score: score, content: content});    
    }

    function print_log(){
        log_html = '<div class="h2">ログ</div>';
        log_html += '<p class="h3">' + start_time + ' ~ ' + end_time + '</p>';
        for (let i = 0; i < log_list.length; i++){
            log_html += '<p class="h3 mt-3">' + log_list[i].time + '</p>';
            if (log_list[i].type == 'image') {
                log_html += '<p class="h4">' + log_list[i].score + '</p>';
                log_html += '<p><img src="' + log_list[i].content + '" width="450px"></p>';
            }
            else{
                log_html += '<p class="h4">話速：' + log_list[i].score + '</p>';
                log_html += '<p class="h4">' + log_list[i].content + '</p>';
            }
        }
        log.innerHTML = log_html;
    }

//-------------保存-------------------------------------------
    function set_form(session_id){

        result.value = session_id + ',' + start_time  + ',' + end_time;

        for (let i = 0; i < log_list.length; i++) {
            let log = log_list[i];
            if (log.type == 'text') {
                sentence.value +=  log.time + ',' + log.content + ',' + log.score + "|";
            }
            else{
                image.value += log.time + ',' + log.content.slice(9) + ',' + log.score + "|";
            }
        }

        sentence.value = sentence.value.slice(0, sentence.value.length - 1);
        image.value = image.value.slice(0, image.value.length - 1);

        save.style = "display: block"

    }

//--------------画像判定--------------------------------------
    let timer;

    const cameraSize = { w: 768, h: 432 };
    const resolution = { w: 768, h: 432 };
    let video;
    let media;

    // video要素をつくる
    video = document.createElement('video');
    video.id = 'video';
    video.width = cameraSize.w;
    video.height = cameraSize.h;
    video.autoplay = true;
    document.getElementById('videoPreview').appendChild(video);

    // video要素にWebカメラの映像を表示させる
    media = navigator.mediaDevices.getUserMedia({
        audio: false,
        video: {
            width: { ideal: resolution.w },
            height: { ideal: resolution.h }
        }
    }).then(function (stream) {
        video.srcObject = stream;
    });


    function video_start(){

        // キャプチャ
        let video_cap = document.getElementById('video');
        let canvas = document.getElementById('canvas');
        let ctx = canvas.getContext('2d');

        // ajax
        let fd = new FormData();
        timer = setInterval(function(){

            // canvas要素全体に画像を描画する。
            ctx.drawImage(video_cap, 0, 0, 768, 432);

            // キャプチャ時刻
            capture_time = new Date().toLocaleTimeString();

            fd.append('image', null);

            canvas.toBlob(
                function(blob){
                    fd.set('image', blob);

                    $.ajax({
                        url: "/shoulder",
                        type : "POST",
                        processData: false,
                        contentType: false,
                        data : fd,
                        dataType: "text",
                    })
                    .done(function(data){
                        let resultObjct = data.split(",");
                        sisei.innerHTML = '<h3>' + resultObjct[0] + '</h3>';
                        kakou.src = resultObjct[1];
                        set_log(capture_time, 'image', resultObjct[0], resultObjct[1]);
                        console.log(resultObjct[0]);
                    })
                    .fail(function(data){
                        // alert("画像を得られませんでした。");
                        console.log('画像を得られませんでした。');
                    });
                }
            , 'image/jpeg');

        }, 5000);
    }

    function video_stop(){
            video.remove();
            clearInterval(timer);
    }

//--------------話速測定------------------------------------------

    SpeechRecognition = webkitSpeechRecognition || SpeechRecognition;
    let recognition = new SpeechRecognition();

    recognition.lang = 'ja-JP';
    recognition.interimResults = true;
    recognition.continuous = true;

    let finalTranscript = '';

    let word_time = 0.0;
    let time_head;
    let time_tail;
    let time_flag = false;
    let transcript_time;

    let sentence_list = [];

    recognition.onresult = (event) => {
        if (!time_flag) {
            transcript_time = new Date().toLocaleTimeString();
            time_head = event.timeStamp;
            time_tail = event.timeStamp;
            time_flag = true;
        }
        let interimTranscript = '';
        for (let i = event.resultIndex; i < event.results.length; i++) {
            let transcript = event.results[i][0].transcript;
            if (event.results[i].isFinal) {
                word_time += time_tail - time_head;
                time_flag = false;
                finalTranscript += transcript;
                set_log(transcript_time, 'text', '' + (time_tail - time_head), transcript);
            }
            else {
                time_tail = event.timeStamp;
                interimTranscript = transcript;
            }
        }
        cus_voice.innerHTML = finalTranscript + '<i style="color:#ddd;">' + interimTranscript + '</i>';
    }

    function wasoku_start() {
        recognition.start();
    }

    function wasoku_stop() {
        recognition.stop();
        if (time_flag) {
            word_time += time_tail - time_head;
            time_flag = false;
        }
        let word = finalTranscript;
        let hiragana = HiraganaConvert(word);
        let word_length = hiragana.length;
        let wasoku = Math.round((word_length / ((word_time / 1000) / 60)));

        for (let i = 0; i  < log_list.length; i++) {

            let log = log_list[i];
            
            if (log.type == 'text') {
                let hiragana = HiraganaConvert(log.content);
                // log.content += '<br>' + hiragana + '<br>文字数：' + hiragana.length + '<br>時間：' + log.score;
                log.score =  Math.round(hiragana.length / ((parseFloat(log.score) / 1000) / 60));
            }
            
        }

    }

    function HiraganaConvert(send_word) {

        let hiragana = send_word;

        let json = JSON.stringify({
            app_id: "f192486406c327292ce7cc842a7e4eea482fb063c9b023d6dbd3c6339d376ab5",
            request_id: "record",
            sentence: send_word,
            output_type: "hiragana"
        });

        let xhr = new XMLHttpRequest;

        xhr.open("POST", "https://labs.goo.ne.jp/api/hiragana", false);
        xhr.setRequestHeader('Content-type', 'application/json; charset=utf-8');

        try {
            xhr.send(json);
            if (xhr.status != 200) {
                alert(`Error ${xhr.status}: ${xhr.statusText}`);
            } else {
                let res = JSON.parse(xhr.responseText);
                hiragana = res.converted.replace(/\s+/g, '');
            }
        } catch (err) {
            ("Request failed");
        }

        return hiragana;

    }

    // 俺様専用スクリプト
    function sample(){
        start_time = '09:00:00';
        end_time = '10:00:00';
        set_log('09:10:00', 'text', 350, 'おはようございます。本日は宜しくお願いいたします。');
        set_log('09:10:10', 'image', 'OK', './static/images/20201211_102327.jpg');
        set_log('09:30:00', 'text', 400, '私の強みは問題解決能力があるところです。私は大学時代バスケットボール部に所属していました。部のなかで、私は練習メニューを考えることに力を入れていました。試合結果を分析して課題と改善点を打ち出すことで、チームの底上げになる練習メニューを考え取り入れていました。');
        set_log('09:30:10', 'image', '傾いています。', './static/images/20201211_102337.jpg');
        set_log('09:50:00', 'text', 350, '本日は誠にありがとうございました。');
        print_log();
        set_form('{{ session_id }}');
    }

    // sample();

</script>
{% endblock %}
