{% extends "layout.html" %}

{% block header %}
<link rel="stylesheet" href="static/css/settings.css">
{% endblock %}


{% block content %}


<div class="col-8 mx-auto m-5 p-3">
    <br><br>
    <div id="main_form" data-toggle="modal" data-target="#exampleModalCentered ">
        <p class="form-title">設定</p>
        <form action="settings_confirm.html">
            <p class="offset-3">パスワード</p>
            <p class="pass offset-3"><input type="password" name="pass" /></p>
            <div class="text-right">
                <a class="btn btn-outline-secondary" href="/settings_confirm">決定</a>
            </div>
            
        </form>

    </div>


    <div class="text-right">
        <a class="btn btn-outline-secondary" href="settings_top.html">戻る</a>
    </div>

</div>



        {% endblock %}


